@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'tailwindcss';

:root {
  --accent: oklch(1 0 0 / 10%);
  --radius: 0.5rem;
  --background: oklch(0 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0 0 0);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(1 0 0);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0 0 0 / 10%);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0 0 0 / 10%);
  --muted-foreground: oklch(1 0 0 / 70%);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(1 0 0 / 90%);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 10%);
  --ring: oklch(1 0 0 / 20%);
  --chart-1: oklch(1 0 0 / 70%);
  --chart-2: oklch(1 0 0 / 40%);
  --chart-3: oklch(1 0 0 / 20%);
  --chart-4: oklch(1 0 0 / 10%);
  --chart-5: oklch(1 0 0 / 5%);
  --sidebar: oklch(0 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0 0 0 / 10%);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(1 0 0 / 20%);
  --lime: #C1F429;
  --lime-hover: #D8FF63;
}
